/* CSS Reset - help ensure the same look across all browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* End CSS reset */

/* Define our fonts */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(http://siobud.com/css/cinzel-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 700;
  src: local('Cinzel-Bold'), url(http://siobud.com/css/cinzel-bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 400;
  src: local('Rokkitt'), url(http://siobud.com/css/rokkitt.ttf) format('truetype');
}
/* End font defines */


/* Set the background and fonts */
body {
    font-family: 'Cinzel', serif;
    
		min-height: 740px;
    
    background: rgb(80, 85, 100);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(35, 45, 65)), to(rgb(80, 85, 100)));
    background: -webkit-radial-gradient(rgb(35, 45, 65), rgb(80, 85, 100));
    background: -moz-radial-gradient(rgb(35, 45, 65), rgb(80, 85, 100));
    background: -ms-radial-gradient(rgb(35, 45, 65), rgb(80, 85, 100));
    background: -o-radial-gradient(rgb(35, 45, 65), rgb(80, 85, 100));
    background: radial-gradient(rgb(35, 45, 65), rgb(80, 85, 100));
}

nav {
	text-align: center;
	width: 100%;
	background: rgb(238, 240, 244);	
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; 
	clear: both; 
	display: block;
}

nav ul li {
	float: left;
}

nav ul li a {
	color: #757575;
	display: block; 
	padding: 15px 60px;
	padding-left: 0px;
	text-decoration: none;
	text-align: left;
}

nav ul li a:hover {
	color: black;
}

nav ul ul {
	padding: 0;
	position: absolute; 
	top: 100%;
	background: rgb(238, 240, 244);	
	-webkit-box-shadow: 0 3px 3px #3c3c40;
	-moz-box-shadow: 0 3px 3px #3c3c40;
	box-shadow: 0 3px 3px #3c3c40;
}

nav ul ul li {
	float: none; 
	position: relative;
	}

nav ul ul li a {
	padding: 15px 40px;
	padding-left: .5em;
	padding-right: .5em;
	text-align: left;
	color: #757575;
}	

nav ul ul li a:hover {
	color: black;
}

nav ul ul ul {
	position: absolute;
	left: 100%; 
	top:0;
}

#frame{
	background: rgb(246,246,248);
	margin: 0 auto;
  min-height: 700px;
	width: 960px;
	margin-top: 25px;
}

#about_me {
	width: 120px;
	float: right;
	padding: 30px 15px;
	border-left: 1px dotted silver;
	line-height: 120%;
}

#name{
	font-weight: 700;
}

#content{
	width: 785px;
	font-family: 'Rokkitt', serif
}

#welcome {
	padding: 20px 10px;
	padding-left: 70px;
}

.article {
	padding: 10px 10px;
}

.article h1 {
	font-size: 30px;
	font-weight: 700;
}

.article h2 {
	padding-top: .7em;
	font-size: 22px;
	font-weight: 700;
}

.article h3 {
	padding-top: .5em;
	font-weight: 700;
	font-size: 20px;
}

.article p {
	padding-bottom: .5em;
	text-indent: 1em;
	font-size: 17px;
}

.article a, .fancyAnchor {
	color: black;
}

.article a:hover, .fancyAnchor:hover  {
	color: blue;
}

.article .blog-post-summary {
	padding-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article strong {
	font-weight: 700;
}

#blog-post-title1{
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	font-weight: 700px;
}

#blog-post-title2{
	padding-top: 0px;
	margin-top: 0px;
	padding-bottom: 1em;
	text-indent: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 18px;
}

.centered-image{
	width: 95%;
	padding: 1% 2.5%;
	background: rgb(208, 210, 204);	
}

.centered-image:hover{
	width: 95%;
	padding: 1% 2.5%;
	background: rgb(190, 192, 186);	
}
